<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="90000">
        <setting label="90001" type="text" id="browser-command" default="firefox" />
        <setting label="90002" type="text" id="browser-args" default="-p kiosk -no-remote %url%" />
        <setting label="90003" type="text" id="url" default="index.html" />
    </category>
</settings>
